@import "./p.less";

.tab {
  .full;
  display: flex;
  flex-direction: column;
  .tab-change1 {
    flex: 1;
    .flex-column(1,10%);
    background-color: #777;
  }
  .tab-change2 {
    flex: 1;
    .flex-column(1,10%);
    background-color: #888;
  }
}
