<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>测试实例</title>
    <style>
      .one {
        width: 400px;
        height: 400px;
        background-color: red;
        display: flex;
        .two {
          width: 200px;
          height: 200px;
          background-color: pink;
          justify-content: center;
          align-items: center;
        }
      }
    </style>
    <script>
      function myFunction() {
        alert("Hello World!");
      }
    </script>
  </head>

  <body>
    <div class="one">
      <div class="two"></div>
    </div>

    <button onclick="myFunction()">点我</button>
  </body>
</html>
