<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>测试h5</title>
  </head>
  <style>
    * {
      margin: 0;
      padding: 0;
    }
  </style>
  <div></div>

  <body>
    <script>
      class A {
        entry = {
          "a.b.c.dd": "abceeee",
          "a.d.xx": "adxx",
          "a.e": "ae",
        };

        constructor() {
          this.deepRntery(this.entry);
        }
        deepRntery(entery) {
          let obj = {};
          const fn = (key, value, obj) => {
            const lastKeys = key.slice(key.lastIndexOf(".") + 1, key.length);
            const newKeys = key.slice(0, key.lastIndexOf("."));
            if (!lastKeys) return;
            obj[lastKeys] = value;
            const newObj = obj;
            if (!lastKeys) return;
            console.log(obj, "obj---");
            // console.log(Object.assign(obj), '++++');
            return fn(newKeys, newObj, {});
          };

          for (const key in this.entry) {
            const value = this.entry[key];
            fn(key, value, obj);
          }
          // console.log(obj, 'obj');
          return obj;
        }
      }
      let a = new A();
    </script>
  </body>
</html>
